body{
  font-family: 'Segoe UI', sans-serif;
  margin:0;
  padding:20px;
  background: linear-gradient(135deg,#1f4037,#99f2c8);
  color:#fff;
}

/* Headings */
h2,h3{
  text-align:center;
}

/* Inputs */
input{
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
  outline:none;
  width:180px;
}

/* Buttons */
button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  background:#ff7e5f;
  color:white;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  background:#feb47b;
  transform:scale(1.05);
}

/* Task Card */
.task{
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(10px);
  border-radius:12px;
  padding:15px;
  margin:10px 0;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  transition:0.3s;
}

.task:hover{
  transform:translateY(-5px);
}

/* Done task */
.done{
  text-decoration:line-through;
  color:lightgreen;
}

/* Timer Box */
#timer{
  font-size:40px;
  text-align:center;
  margin:15px 0;
  font-weight:bold;
}

/* Score